@media (min-width:1400px) {
    #bigger {
        min-width:50px;
    }
	#smaller{
		min-width: 30px;
	}
	.sidebar a{
		padding:15px;
		font-size: 15px;
	}
}

@media (min-width:1440px) {
    #bigger {
        min-width:50px;
    }
	#smaller{
		min-width: 30px;
	}
	.sidebar a{
		padding:50%;
		font-size: 15px;
	}
}

@media (min-width:800px) {
    #bigger {
        max-width:30px;
    }
	#smaller{
		max-width: 15px;
	}
}

@media (max-width:360px) {
    #bigger {
        max-width:18px;
    }
	#smaller{
		max-width: 8px;
	}
}
.col-12 {width: 100%;}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-12 {width: 100%;}
}
